h1{
    margin: 0px;
    text-align: center;
    border-color: black;
    border-width: 5px;
    color: rgb(0, 0, 0);
    background: radial-gradient(rgb(251, 255, 0) 25%, rgb(0, 255, 251) 70%);
}
h2 {  
    color: rgb(241, 10, 10);
    background:rgb(255, 255, 255) ;
}
p{
    font-style: italic;
    font-weight: bolder;
}
body {
    margin: 0px;
    background: linear-gradient(to left, rgb(233, 93, 93) 59%,rgb(161, 238, 46) 45% ) ; 
    text-align: center;
}
nav {
    margin: 0px;
    padding: 0px 0px;
    height: 300px;
}
input:hover{
    background-color: #e9e3e3;
    background: rgb(233, 93, 93);
    border-color: #ffffff;
}
ul li:hover {
    border-color: #000000;
    color: rgb(255, 255, 255);
    list-style: upper-roman;
    text-align: start;
    background: rgb(0, 0, 0) ;
    background-size: cover;
    border: blue;
}
.password{
   background-size: 20px;
   border-color: #000000;
   border-width: 3px;
}
details:hover{
    background-color: rgb(255, 255, 255);
    text-align: start;
}
button{
    color: aqua;
    background-color: #000000;
    border: 6px solid white;
    border-color: whitesmoke;
    font-size: 1rem;
    border-radius: 10px;
}
